<appSettings>
    <add key="MailServer" value="dev-smtp.vidly.com" />
    <add key="FacebookAppId" value="410962926835664" />
    <add key="FacebookAppSecret" value="55c48326665bff13088fc0da72983faf" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>
