@model Vidly.Models.Customer
@{ 
    var customer = Model;
}
@{
    ViewBag.Title = customer.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>@customer.Name</h2>

<ul>
    <li>Membership Type: @Model.MembershipType.Name</li>
    @if (Model.Birthday.HasValue)
    {
        <li>Birthday: @Model.Birthday.Value.ToString("d/M/yyyy")</li>
    }
</ul>

