@model Vidly.ViewModel.MoviesViewModel
@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

<div>
    @Html.ActionLink("new movie", "New", "Movies", null, new { @class = "btn btn-primary" })
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">
                Movie
            </th>
            <th scope="col">
                Genre
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model.Movies)
        {
            <tr>
                <td>
                    @Html.ActionLink(movie.Name, "Edit", "Movies", new { Id = movie.Id }, null)
                </td>
                <td>@movie.Genre.Name</td>
            </tr>
        }
    </tbody>
</table>

